body {
	margin-top: 100px; 
}

.table > tbody > tr > td {
	vertical-align: middle;
}



@media screen and (min-width: 400px) {
	.login {
		position: relative; 
		left: 50%; 
		margin-left: -200px; 
	}
}

@media screen and (min-width: 700px) {
	.diary {
		position: relative; 
		left: 50%; 
		margin-left: -350px; 
	}
}

.login {
	max-width: 400px; 
}

.footer {
	text-align: center;
	margin-top: 50px;
}

.footer hr {
	max-width: 1100px; 
}

